*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-family: 'Ubuntu', sans-serif;
}
.header{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    padding: 100px 400px 0 0;
}

.btn-primary{
    color: purple;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    height: 64px;
    border-radius: 5px;
    background: orange;
    margin: 0px 400px 30px 950px;
}
.banner-title{
    margin: 50px 20px 20px 950px;
    font-weight: 600;
    font-size: 40px;
    
}
.banner-description{
    margin: 0px 50px 20px 950px;
    color: whitesmoke;
    font-size: 20px;

   
}
/* Failure section */
.section-title{
    padding:  300px 10px 30px 950px;
    font-size: 50px;
    font-weight: 600;
}
.section-description{
    padding:  10px 10px 30px 950px;
    font-size: 20px;
}
.section-description-one{
    padding:  5px 10px 30px 950px;
}
.image{
    float: left;
    padding: 600px 10px 950px 400px;
}

