*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-family: 'Ubuntu', sans-serif;
}
.header{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    padding: 100px 400px 0 0;
}

.btn-primary{
    color: purple;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    height: 64px;
    border-radius: 5px;
    background: orange;
    margin: 0px 400px 30px 950px;
}
.banner-title{
    margin: 50px 20px 20px 950px;
    font-weight: 600;
    font-size: 40px;
    
}
.banner-description{
    margin: 0px 50px 20px 950px;
    color: whitesmoke;
    font-size: 20px;

   
}
/* Failure section */
.section-title{
    padding:  200px 10px 30px 950px;
    font-size: 50px;
    font-weight: 600;
}
.section-description{
    padding:  10px 10px 30px 950px;
    font-size: 20px;
}
.section-description-one{
    padding:  5px 10px 30px 950px;
}
.image{
    float: left;
    padding: 400px 10px 950px 400px;
}
/* My plans */
.Plan-Title{
    font-size: 50px;
    font-weight: 600;
    padding-top: 100px;
    
}
.plan-container{
    display: flex;
    gap: 24px;
}
.plan-title-one{
    margin-top: 50px;
    font-size: 30px;
    gap: 15px;
}
.Plan-Image{
padding: 40px 0px 5px 0px ;
gap: 15px;

}
/* Gradient */
.Gradient{
    font-size: 50px;
    padding: 300px 800px 400px 400px;
}
.Call{
    color: purple;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 20px 50px;
    height: 64px;
    border-radius: 5px;
    background: orange;
    margin-top: 20px;
    margin-left: 50px;
    
}
.grad{
    height: 50vh; 
    width: 75vw;
    background-image: linear-gradient(180deg,rgba(215, 68, 19, 0.5),rgb(180, 176, 176,0.5)),url('images/gradient3.png');
   background-size: 100% 100%;
   
}
.Grad-Title{
    padding-top: 100px;
    padding-left: 50px;
}
/* Contact */
.Contact{
    display: flex;
    gap: 100px;
    background:skyblue;
    padding:130px 200px ;
}
.Contact .title{
    text-align: left;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 24px;
   
}
.Call-one{
    color: purple;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 15px 40px;
    height: 50px;
    border-radius: 5px;
    background: orange;
    margin-top: 5px;
    margin-left: 5px;
    
}
.Contact input{
    margin-bottom: 24px;
    padding:18px 30px;
}
.Contact a{
    text-decoration: none;
}
.Description{
    margin-bottom: 20px;
}
.Contact .icon{
    gap: 20px;
}
   
